.container{
	height: 100%;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 25px 4fr 25px;
	grid-gap: 10px;
	grid-template-areas: 
	"h h h h h h h h h h"
	"m c c c c c c c c c"
	"f f f f f f f f f f";
}

 .header{
 	grid-area: h;
}


.manu{
	grid-area: m;
}


.content{
	grid-area: c;
}


.footer{
	grid-area: f;
}